.App {
  text-align: center;
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid black;
}

.city-heading {
  font-size: 18px;
}

.icon-and-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-image {

}

.temp-now {
  font-size: 26px;
  font-weight: bold;
}
